<h1>All Stores</h1>
<ol>
  <% @stores.each do |store| %>
    <li>
      <h3><%= link_to store.name, store_path(store) %></h3>
      <%= store.address %>
      <br>
      Average rating: <%= store.average_rating  %>
    </li>
  <% end %>
</ol>