<ol>
  <% current_user.user_products.each do |user_prod| %>
    <li>
      <%= "#{user_prod.product.name} | #{user_prod.quantity}" %>
      <%= simple_form_for user_prod do |f| %>
        <%= f.association :store, label_method: :location_and_price %>
      <% end %>
    </li>
  <% end %>
</ol>