
<div class="shopping-list">
  <% current_user.user_products.each do |user_prod| %>
    <p>
      <%= link_to user_prod.product.name, product_path(user_prod.product) %> |
      Quantity: <%= user_prod.quantity %>
      (avg price: <%= format_price(user_prod.product.average_price) %>)
    </p>

  <% end %>
</div>

