<ol class="reviews">
  <% review_subject.reviews.each do |review| %>
    <li>
      <article class="review">
        <header>Rating: <%= review.rating %>/7</header>
        <p><%= review.body %></p>
        <footer>
          <p>Submitted by: <%= review.user.name %></p>
          <p>Added <%= time_ago_in_words(review.created_at) %> ago</p>
        </footer>
      </article>
    </li>
  <% end %>
</ol>




