/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";

.store-description-field {

}

.shopping-list-container {

}


.reviews footer {
  font-style: italic;
}

.store-product-details {
  .available-text {
    display: none;
  }
  .unavailable-text {
    display: block;
  }

  .make-available {
    display: block;
  }
  .make-unavailable {
    display: none;
  }
}

.available {
  .available-text {
    display: block;
  }
  .unavailable-text {
    display: none;
  }

  .make-available {
    display: none;
  }
  .make-unavailable {
    display: block;
  }
}

