/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";
@import "bootstrap-responsive";

.page-view-tabs-container {
  margin-top: 10px;
}

.well {
  background-color: rgba(255, 255, 255, 0.9);
}

.shopping-list-container {
  float: right;
  p, form {
    margin-bottom: 0px;
  }
}

.main {
  float: left;
}

.shopping-list-title input {
  width: 175px;
}



.select-shopping-list select {
  width: 190px;
}

.modal-body {
  input {
    width: 75%;
  }
  .numeric {
    width: 60px;
  }
  select {
    width: 75%;
  }
  label.radio {
    padding-right: 10px;
  }
  textarea {
    width: 75%;
  }
}

.change-user-product-quantity {
  input {
    width: 40px;
  }
  .control-label {
    display: inline;
    padding-right: 7px;
  }
}

hr {
  border-color: black;
}

body {
  background-image: url("Richmond_Grocery_Store-1924.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.reviews footer {
  font-style: italic;
}

.store-product-details {
  .available-text {
    display: none;
  }
  .unavailable-text {
    display: block;
  }

  .make-available {
    display: block;
  }
  .make-unavailable {
    display: none;
  }
}

.available {
  .available-text {
    display: block;
  }
  .unavailable-text {
    display: none;
  }

  .make-available {
    display: none;
  }
  .make-unavailable {
    display: block;
  }
}

textarea {
  height: 125px;
}

.signin-out {
  float: right;
}

#landing-page-content {
  text-align: center;
}