<h1>Products</h1>
<%= link_to "Add a new product", new_product_path %>
<ol>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.name, product_path(product) %>
      <dl>
        <dt>Brand:</dt>
        <dd><%= product.brand %></dd>
        <dt>Description:</dt>
        <dd><%= product.description %></dd>
      </dl>
    </li>
  <% end %>
</ol>