<h1>All Products</h1>
<ul class="products-list">
  <% @products.each do |product| %>
    <li>
      <%= link_to product.name, product_path(product) %>
      <p>Brand: <%= product.brand %></p>
      <p><%= product.description %></p>
      <% if user_signed_in? %>
        <div class="add-to-list-btn"><%= add_to_list(product) %></div>
      <% end %>
    </li>
  <% end %>
</ul>